<mat-dialog-content class="mat-typography">
    <div class="row">
      <div class="col-12">
        <button mat-dialog-close class="position-absolute border-0 bg-gradient-primary" style="right: 0;"><img
            src="assets/icons/close_gray_icon.svg" />
        </button>
  
        <div class="px-5 pt-5 pb-3">
          <p class="text-gray graphik_regular font-size-16">Which base currency to project on y-axis ?</p>
          <ul class="list-unstyled trend-currency-checkbox text-center mb-0 pl-0 mt-4">
            <li class="fab-text-gray-two graphik_regular font-size-15 mt-3">
              <mat-radio-button value="">USD</mat-radio-button>
            </li>
            <li class="fab-text-gray-two graphik_regular font-size-15 mt-3">
              <mat-radio-button value="">AED</mat-radio-button>
            </li>
            <li class="fab-text-gray-two graphik_regular font-size-15 mt-3">
              <mat-radio-button value="">INR</mat-radio-button>
            </li>
            <li class="fab-text-gray-two graphik_regular font-size-15 mt-3">
              <mat-radio-button value="">EURO</mat-radio-button>
            </li>
          </ul>
          <div class="text-center mt-3">
            <button mat-button class="fab-bg-blue text-white mt-3 px-5 py-1 fsmatthew-medium font-size-14
              ">UPDATE</button>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  