<section class="browse-file pr-4 py-2 pl-3 bg-white text-dark d-inline-block attachmentModalWidth">
  <div class="py-2 text-right closeButton">
      <img src="assets/image/close.png" (click)="closeAttachment()" width="20px" class="cursorPointer" alt="">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 pb-4">
          <span class="heading">Attach Files</span>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let file of attachedFiles" class="px-2 py-1 filesList w-100">
          <div class="col-12 pl-0 d-flex">
            <img *ngIf="file.progress == 100" src="assets/image/tick.png" width="15px" class="statusIcon" alt="">
            <span class="fileNames pl-3">{{file.name}}</span>
            <mat-progress-bar *ngIf="file.progress != 100" class="attachmentProgressBar pl-2 mt-2" mode="determinate" [value]="progress"></mat-progress-bar>
            <img *ngIf="file.progress == 100" width="15px" src="assets/image/delete.png" class="cursorPointer deleteIcon" (click)="deleteAttachedFile(file.name)" alt="">
            <img *ngIf="file.progress != 100" width="15px" src="assets/image/close.png" class="cursorPointer cancelIcon" alt="">
          </div>
          <div class="col-12"><hr class="dividerLine pl-3 col-12"/></div>
       </div>
    </div>
    <div class="row">
      <div class="p-2 ml-2 mb-2 dropContainer text-center" appDrag (files)="filesDropped($event)">
          <span class="dragText">Drag & Drop Files here</span>
      </div>
      <div class="uploadButton d-flex justify-content-center pt-3">
          <label for="file_upload" class=""><img src="assets/image/upload.png" width="15px" class="cursorPointer" alt=""></label>
          <input type="file" id="file_upload" (change)="fileChangeEvent($event)" class="d-none" multiple />
      </div>
    </div>
  </div>

</section>