// .dashboardFooter {
//     position: fixed;
//     bottom: 0;
//     right: 1px;
//     z-index: 1;
//   }

.dashboardSidebar {
    height:100vh;
}

.breadcrumLabel{
//   width: 83px;
//   height: 24px;
  font-family: fs_matthew_light;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #969995;
}

// .breadcrumLabel:last-child {
//   color: white;
// }