<div class="row login_header_row1">
    <div class="col-3 d-flex align-items-center justify-content-around ">
      <span class="field ">Personal</span>
      <span class="field ">Private</span>
      <span class="field">Business</span>
      <span class="field">Corporate</span>
      <span class="field ">Group</span>
    </div>
    <div class="offset-7 col-2 d-flex align-items-center justify-content-around justify-content-end">
      <span class="field ">Contact and Support</span>
      <img class="dashboard-logo" src="assets/images/dropdownArrow.svg" />
      <img class="dashboard-logo" src="assets/images/dropdownArrow.svg" />
    </div>
  </div>
  <div class="row login_header_row2">
    <div class="col-5 d-flex align-items-center justify-content-around ">
      <img class="fab-logo" src="assets/image/fab.png" />
      <span class="field ">About Us</span>
      <span class="field ">Corporate Governance</span>
      <span class="field">Investor Relations</span>
      <span class="field">Careers</span>
    </div>
  
  </div>