.overview-tab-col {
    max-width: 260px;
    border-radius: 8px;
  }

  .font-size-45 {
    font-size: 45px;
  }
  
  .font-size-50 {
    font-size: 50px;
  }
  
  .font-size-24 {
    font-size: 24px;
  }
  
  .gray-color {
    color: #6c7c93;
  }
  
  .font-weight-500 {
    font-weight: 500;
  }
  
  .border-color {
    border-color: #b3b6b2 !important;
  }
  
  
  .alrlines {
    border-radius: 8px;
    box-shadow: 0 0 40px -9px #71adff;
    background-image: linear-gradient(115deg, #71adff, #4066b3 61%, #003087);
    height: 177px;
  }
  
  .alrlines li {
    height: 89px;
    line-height: 89px;
  }
  
  table {
    width: 100%;
    box-shadow: initial;
    border: solid 1px #979797;
  }
  
  table tr:last-child td {
    border-bottom-color: #979797;
  }
  
  // .inner-drop-down {
  //   right: 10px;
  //   top: 5px;
  //   line-height: 1;
  //   cursor: pointer;
  // }
  
  // .section-label{
  //   font-family: fs_matthew_light;
  //   font-size: 24px;
  //   color: #848484;
  // }
  // .chart-title{
  //   font-family: fs_matthew_medium;
  //   font-size: 16px;
  //   font-weight: 500;
  //   color: #094684;
  // }
  // .in-text{
  //   font-family: fs_matthew_light;
  //   font-size: 16px;
  //   font-weight: 300;
  //   color: #6c7c93;
  // }
  // .donut-legend{
  //   padding-top: 190px;
  // }
  // .legend-color{
  //   height: 12px;
  //   width: 12px;
  //   border-radius: 50%;
  //   display: inline-block;
  // }
  // .legend-name{
  //   font-family: graphik_light;
  //   font-size: 10px;
  //   font-weight: 300;
  //   color: #363b4e;
  // }