<div class="row login_footer_row1">
    <div class="col-2 d-flex align-items-center justify-content-around ">
        <img class="fab-logo" src="assets/image/fab.png" />
      <span class="field ">Personal</span>
      <span class="field">Cards</span>
      </div>
      <div class="offset-4 col-6 d-flex align-items-center justify-content-around justify-content-end">
        <span class="field ">Terms and Condition</span>
        <span class="field">Privacy Policy</span>
        <span class="field ">Disclaimer</span>
        <span class="field">FAQs</span>
        <span class="field ">Contact</span>
        <span class="field">Branch & ATM finder</span>
        <img class="dashboard-logo"  src="assets/images/dashboard.svg"  alt=""/>
        <img class="dashboard-logo"  src="assets/images/dashboard.svg"  alt=""/>
        <img class="dashboard-logo"  src="assets/images/dashboard.svg"  alt=""/>
        <img class="dashboard-logo"  src="assets/images/dashboard.svg"  alt=""/>
        <img class="dashboard-logo"  src="assets/images/dashboard.svg"  alt=""/>

    </div>
    <hr>
    <div class="offset-6 col-6 d-flex align-items-center justify-content-end">
      <span class="field ">@ First Abu Dhabi Bank PJSC. All Rights Reserved. | FGB is a trademark owned by First Abu Dhabi Bank</span>
      

  </div>
</div>