.fab-logo {
    width: 52px;
    height: 31px;
    object-fit: contain;
  }

.field {
    font-family: fs_matthew_light;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #ffffff;
  }

  .login_footer_row1 {
    
    height: 110px;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #003087;
    color: white;
  }

  .dashboard-logo {
    width: 24px;
    height: 20px;
    object-fit: contain
  }