.filter-box {
  position: absolute;
  right: 0;
  padding: 15px;
  background: #fff;
  border: 1px solid #e1e1e1;
  z-index: 5;
  top: 10px;
  left: -45px;
  width: 200px;
  height: 278px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14);
  background-color: #ffffff;
}
.closebutton {
  right: 8px;
  top: 0px;
}

.hori-line {
  border-top: 1px solid #f7f7f7;
  margin-bottom: -5px;
}

.apply-filter-button {
  position: relative;
  text-align: center;
  font-family: fs_matthew_light !important;
  // color: #2979ff;
  color: #003087;
  font-size: 13px;
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.default-text {
  font-family: fs_matthew_light !important;
  font-size: 13px;
  // color: #9b9b9b;
  color: #003087;
}

.filter-option {
  display: block;
  text-align: left;
}

.filter-row {
  max-height: 138px;
  overflow-y: scroll;
}
