<div class="container-fluid">
  <!--Top section 4 cards (start)-->
  <div class="row mt-4 mb-2 div-alignment">

    <!-- <div class="col-3 cursorPointer" (click)="gotoAccountDetails()"> -->
    <div class="col-3">
      <div class="container-fluid mr-2 overview-tab-col">
        <div class="row pt-2">
          <div class="col-10 overview-header">
            {{numOfAccounts}} Accounts in {{numOfBanks}} Banks
          </div>
          <div class="col-2 text-right">
            <img src="assets/icons/accounts-card.svg" />
          </div>
        </div>
        <div class="row pt-3">
          <div class="col-8 overview-card-bal">
            {{ totalBalance ? (totalBalance | number  : '1.3-3') : 0}} M <span class="overview-card-cur">AED</span>
          </div>
          <div class="col-4 text-right">
            <div class="overview-card-percentage"
              [ngClass]="{'overview-card-green': accountsGraphPer>0.0, 'overview-card-red': accountsGraphPer<0.0}">
              {{accountsGraphPer}}%</div>
            <div class="overview-card-thisweek">this week</div>
          </div>
        </div>
        <!-- <div class="row">
          <div class="chart-class">
            <app-line-chart class="overview-card-graph" [data]="accountsGraph">
            </app-line-chart>
          </div>
        </div> -->
        <div class="row m-0">
          <div class="col-12 p-0 chart-class">
            <app-line-chart class="overview-card-graph" [data]="accountsGraph">
            </app-line-chart>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3  ">
      <div class="container-fluid mr-2 overview-tab-col">
        <div class="row pt-2">
          <div class="col-10 overview-header">
            14 Deposits in 2 Banks
          </div>
          <div class="col-2 text-right">
            <img src="assets/icons/deposits-card.svg" />
          </div>
        </div>
        <div class="row pt-3">
          <div class="col-8 overview-card-bal">
            2.234 M <span class="overview-card-cur">AED</span>
          </div>
          <div class="col-4 text-right">
            <div class="overview-card-percentage overview-card-red">-20%</div>
            <div class="overview-card-thisweek">this week</div>
          </div>
        </div>
        <div class="row m-0">
          <div class="col-12 p-0 chart-class">
            <app-line-chart class="overview-card-graph" [data]="depositsGraph">
            </app-line-chart>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3  ">
      <div class="container-fluid mr-2 overview-tab-col">
        <div class="row pt-2">
          <div class="col-10 overview-header">
            10 Cards from 3 Banks
          </div>
          <div class="col-2 text-right">
            <img src="assets/icons/cards-card.svg" />
          </div>
        </div>
        <div class="row pt-3">
          <div class="col-8 overview-card-bal">
            2.234 M <span class="overview-card-cur">AED</span>
          </div>
          <div class="col-4 text-right">
            <div class="overview-card-percentage overview-card-green">+40%</div>
            <div class="overview-card-thisweek">this week</div>
          </div>
        </div>
        <div class="row m-0">
          <div class="col-12 p-0 chart-class">
            <app-line-chart class="overview-card-graph" [data]="cardsGraph">
            </app-line-chart>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3 ">
      <div class="container-fluid overview-tab-col">
        <div class="row pt-2">
          <div class="col-10 overview-header">
            14 Loans from 2 Banks
          </div>
          <div class="col-2 text-right">
            <img src="assets/icons/loans-card.svg" />
          </div>
        </div>
        <div class="row pt-3">
          <div class="col-8 overview-card-bal">
            2.234 M <span class="overview-card-cur">AED</span>
          </div>
          <div class="col-4 text-right">
            <div class="overview-card-percentage overview-card-red">-20%</div>
            <div class="overview-card-thisweek">this week</div>
          </div>
        </div>
        <!-- <div class="row">
          <div class="chart-class">
            <app-line-chart class="overview-card-graph" [data]="loansGraph">
            </app-line-chart>
          </div>
        </div> -->
        <div class="row m-0">
          <div class="col-12 p-0 chart-class">
            <app-line-chart class="overview-card-graph" [data]="loansGraph">
            </app-line-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Top section 4 cards (end)-->

  <!--Graph section (start)-->
  <div class="row mt-4 div-alignment">
    <div class="col-6 ">
      <div class="container-fluid graph-container">
        <div class="row text-center">
          <!-- <div class="col-2 p-0 position-relative filter-dropdown box"
            [ngStyle]="{'border-left-color': selectedFilter1=='balance1'?'rgba(12,35,64,0.7)':'#fff','border-top-color':selectedFilter1=='balance1'?'rgba(12,35,64,0.7)':'#fff'}">
            <div class="px-0 py-2 cursorPointer" (click)="[filterGraphData('balance1'),setSelectedFilter('balance1')]">
              Balance <img src="assets/icons/filter-arrow-active.svg" />
            </div>
            <app-chart-filter-modal class="position-absolute" *ngIf="showFilter==='balance1'">
            </app-chart-filter-modal>
          </div> -->
          <div class="col-2 p-0 position-relative filter-dropdown box filled-box">
            <div class="px-0 py-2 cursorPointer" (click)="[filterGraphData('balance1'),setSelectedFilter('balance1')]">
              Balance <img src="assets/icons/filter-arrow-active.svg" />
            </div>
            <app-chart-filter-modal class="position-absolute" *ngIf="showFilter==='balance1'">
            </app-chart-filter-modal>
          </div>
          <div class="col-2 p-0 position-relative filter-dropdown"
            [ngClass]="{'box empty-box':entityDisplayVal!='All Entities'}">
            <div class="px-0 py-2 cursorPointer" (click)="[filterGraphData('entity1'),setSelectedFilter('entity1')]">
              {{entityDisplayVal}} <img src="assets/icons/filter-arrow-active.svg" />
            </div>
            <app-chart-filter-modal class="position-absolute" *ngIf="showFilter==='entity1'" [dropDownVal]="entity1"
              (updateGraph)="updateGraph($event)">
            </app-chart-filter-modal>
          </div>
          <div class="col-2 p-0 position-relative filter-dropdown"
            [ngClass]="{'box empty-box':bankDisplayVal!='All Banks'}">
            <div class="px-0 py-2 cursorPointer" (click)="[filterGraphData('bank1'),setSelectedFilter('bank1')]">
              {{bankDisplayVal}} <img src="assets/icons/filter-arrow-active.svg" /></div>
            <app-chart-filter-modal class="position-absolute" *ngIf="showFilter==='bank1'" [dropDownVal]="bank1"
              (updateGraph)="updateGraph($event)">
            </app-chart-filter-modal>
          </div>
          <div class="col-2 p-0 position-relative filter-dropdown"
            [ngClass]="{'box empty-box':regionDisplayVal!='All Regions'}">
            <div class="px-0 py-2 cursorPointer" (click)="filterGraphData('region1')">
              {{regionDisplayVal}} <img src="assets/icons/filter-arrow-active.svg" /></div>
            <app-chart-filter-modal class="position-absolute" *ngIf="showFilter==='region1'" [dropDownVal]="region1"
              (updateGraph)="updateGraph($event)">
            </app-chart-filter-modal>
          </div>
          <!-- <div class="col-2 p-0 position-relative filter-dropdown"
            [ngClass]="{'active-filter': selectedFilter1 === 'amount'}">
            <div class="px-0 py-2 cursorPointer" (click)="filterGraphData('amount')">
              Amount <img src="assets/icons/filter-arrow-active.svg" /></div>
            <app-chart-filter-modal class="position-absolute" *ngIf="showFilter==='amount'" [filterType]="filterType">
            </app-chart-filter-modal>
          </div> -->
          <div class="col-3 p-0 filter-dropdown ">
            <div class="px-0 py-2">
              Conv value <img src="assets/icons/filter-arrow-active.svg" />&nbsp;&nbsp; in AED
              <img src="assets/icons/filter-arrow-active.svg" />
            </div>
          </div>
          <div class="col-1 p-0 filter-dropdown-right">
            <div class=" px-0 py-2">
              <span mat-raised-button (click)="openDialog()" class="cursor-pointer"><img
                  src="assets/icons/menu_gray.svg" /></span>
            </div>
          </div>
        </div>
        <div class="row w-100 m-0">
          <div class="container-fluid pt-4 pb-0 pr-4 pl-2 w-100">
            <app-stacked-hori-bar-chart [stackedData]="stackedData"></app-stacked-hori-bar-chart>

          </div>
        </div>
        <div class="row py-3">
          <div class="col-12 filter-date">
            15 Oct 2019
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="container-fluid graph-container">
        <div class="row text-center">
          <div class="col-2 p-0 position-relative filter-dropdown box filled-box">
            <div class="px-0 py-2 cursorPointer">
              Balance <img src="assets/icons/filter-arrow-active.svg" />
            </div>
            <!-- <app-chart-filter-modal class="position-absolute" *ngIf="showFilter==='balance1'">
              </app-chart-filter-modal> -->
          </div>
          <div class="col-2 p-0 position-relative filter-dropdown">
            <div class="px-0 py-2 cursorPointer">
              All Entities<img src="assets/icons/filter-arrow-active.svg" />
            </div>
            <!-- <app-chart-filter-modal class="position-absolute" *ngIf="showFilter==='entity1'" [dropDownVal]="entity1"
                (updateGraph)="updateGraph($event)">
              </app-chart-filter-modal> -->
          </div>
          <div class="col-2 p-0 position-relative filter-dropdown">
            <div class="px-0 py-2 cursorPointer">
              All Banks <img src="assets/icons/filter-arrow-active.svg" /></div>
            <!-- <app-chart-filter-modal class="position-absolute" *ngIf="showFilter==='bank1'" [dropDownVal]="bank1"
                (updateGraph)="updateGraph($event)">
              </app-chart-filter-modal> -->
          </div>
          <div class="col-2 p-0 position-relative filter-dropdown">
            <div class="px-0 py-2 cursorPointer">
              All Regions <img src="assets/icons/filter-arrow-active.svg" /></div>
            <!-- <app-chart-filter-modal class="position-absolute" *ngIf="showFilter==='region1'" [dropDownVal]="region1"
                (updateGraph)="updateGraph($event)">
              </app-chart-filter-modal> -->
          </div>
          <div class="col-3 p-0 filter-dropdown ">
            <div class="px-0 py-2">
              Conv value <img src="assets/icons/filter-arrow-active.svg" />&nbsp;&nbsp; in AED
              <img src="assets/icons/filter-arrow-active.svg" />
            </div>
          </div>
          <div class="col-1 p-0 filter-dropdown-right">
            <div class=" px-0 py-2">
              <img src="assets/icons/menu_gray.svg" />
            </div>
          </div>
        </div>
        <div class="row w-100 m-0">
          <div class="container-fluid pt-4 pb-2 pr-4 pl-2 w-100">
            <!-- <app-mirror-chart [mirrorChartData]="mirrorChartData"></app-mirror-chart> -->
            <app-multi-line></app-multi-line>
          </div>
        </div>
        <div class="row py-3">
          <div class="col-12 filter-date">
            1 Oct - 12 Oct
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Graph section (end)-->

  <!--Last section (start)-->
  <div class="row mt-4 div-alignment">
    <div class="col-4">
      <div class="container-fluid reports-container p-3">
        <div class="row">
          <div class="col-6 container-heading">Reports</div>
          <div class="col-6 text-right">
            <img src="assets/icons/menu_gray.svg" />
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <table mat-table [dataSource]="dataSource" class="w-100 mt-3">

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name</th>
                <td mat-cell *matCellDef="let report"> {{report.name}} </td>
              </ng-container>

              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let report"> {{report.date}} </td>
              </ng-container>

              <ng-container matColumnDef="generatedOn">
                <th mat-header-cell *matHeaderCellDef> Generated on </th>
                <td mat-cell *matCellDef="let report"> {{report.generatedOn}} </td>
              </ng-container>

              <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef> Category </th>
                <td mat-cell *matCellDef="let report"> {{report.category}} </td>
              </ng-container>

              <ng-container matColumnDef="imageUrl">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let report"> <img [src]="report.imageUrl" /> </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="container-fluid actions-container p-3">
        <div class="row">
          <div class="col-6 container-heading">Actions</div>
          <div class="col-6 text-right">
            <img src="assets/icons/menu_gray.svg" />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-12">
            <mat-tab-group>
              <mat-tab label="2 Overdraft Accounts">

                <table mat-table [dataSource]="dataSource1" class="w-100 mt-2">

                  <ng-container matColumnDef="bank">
                    <th mat-header-cell *matHeaderCellDef> Bank</th>
                    <td mat-cell *matCellDef="let action"> {{action.bank}} </td>
                  </ng-container>

                  <ng-container matColumnDef="branch">
                    <th mat-header-cell *matHeaderCellDef> Branch </th>
                    <td mat-cell *matCellDef="let action"> {{action.branch}} </td>
                  </ng-container>

                  <ng-container matColumnDef="acName">
                    <th mat-header-cell *matHeaderCellDef> A/C Name </th>
                    <td mat-cell *matCellDef="let action"> {{action.acName}} </td>
                  </ng-container>

                  <ng-container matColumnDef="acNumber">
                    <th mat-header-cell *matHeaderCellDef> A/C Number </th>
                    <td mat-cell *matCellDef="let action"> {{action.acNumber}} </td>
                  </ng-container>

                  <ng-container matColumnDef="acType">
                    <th mat-header-cell *matHeaderCellDef> A/C Type</th>
                    <td mat-cell *matCellDef="let action"> {{action.acType}} </td>
                  </ng-container>

                  <ng-container matColumnDef="curr">
                    <th mat-header-cell *matHeaderCellDef> Curr </th>
                    <td mat-cell *matCellDef="let action"> {{action.curr}} </td>
                  </ng-container>

                  <ng-container matColumnDef="overdraft">
                    <th mat-header-cell *matHeaderCellDef> Overdraft </th>
                    <td mat-cell *matCellDef="let action"> {{action.overdraft}} </td>
                  </ng-container>

                  <ng-container matColumnDef="recommendedAction">
                    <th mat-header-cell *matHeaderCellDef> Recommended Action </th>
                    <td mat-cell *matCellDef="let action"> {{action.recommendedAction}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>

                </table>

              </mat-tab>
              <mat-tab label="1 Maturing Deposits" disabled></mat-tab>
              <mat-tab label="12 Card Payment Due" disabled></mat-tab>
              <mat-tab label="4 Loan EMI Due" disabled></mat-tab>
              <mat-tab label="6 Standing Instructions" disabled></mat-tab>
              <mat-tab label="Service Requests" disabled></mat-tab>
            </mat-tab-group>
          </div>
        </div>
        <div class="row">
          <div class="col-12">

          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Last section (end)-->

</div>