<div class="container-fluid">

<div class="row mt-3">
    <div class="col-12">
      <ul class="list-unstyled">
        <li class="list-inline-item border-right pr-3 mr-0">
          <span class="fsmatthew-normal font-size-14 text-gray">Account Name - </span>
          <span class="fsmatthew-normal font-size-14 fab-text-black"> Salary Account</span>
        </li>
        <li class="list-inline-item border-right px-3 mr-0">
          <span class="fsmatthew-normal font-size-14 text-gray">Account Name - </span>
          <span class="fsmatthew-normal font-size-14 fab-text-black"> Salary Account</span>
        </li>
        <li class="list-inline-item border-right px-3 mr-0">
          <span class="fsmatthew-normal font-size-14 text-gray">Bank -</span>
          <span class="fsmatthew-normal font-size-14 fab-text-black"> First Abu Dhabi Bank</span>
        </li>
        <li class="list-inline-item pl-3">
          <span class="fsmatthew-normal font-size-14 text-gray">Available Balance - </span>
          <span class="fsmatthew-normal font-size-14 fab-text-black">AED 82,000,000.000</span>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="mt-3">
      <div class="d-flex flex-row bg-gray px-3 py-4">
          <div class="pr-4">
            <p class="fsmatthew-normal font-size-11 fab-text-black mb-0">Account Number</p>
            <p class="fsmatthew-medium font-size-14 fab-text-black mb-0">1237615163782</p>
          </div>
          <div class="px-4">
            <p class="fsmatthew-normal font-size-11 fab-text-black mb-0">Account Type</p>
            <p class="fsmatthew-medium font-size-14 fab-text-black mb-0">Current Account</p>
          </div>
          <div class="px-4">
            <p class="fsmatthew-normal font-size-11 fab-text-black mb-0">Status</p>
            <p class="fsmatthew-medium font-size-14 fab-text-black mb-0">Active</p>
          </div>
          <div class="px-4">
            <p class="fsmatthew-normal font-size-11 fab-text-black mb-0">Overdraft Limit</p>
            <p class="fsmatthew-medium font-size-14 fab-text-black mb-0">30,000.000</p>
          </div>
          <div class="px-4">
            <p class="fsmatthew-normal font-size-11 fab-text-black mb-0">Frozen Amount</p>
            <p class="fsmatthew-medium font-size-14 fab-text-black mb-0">0.00</p>
          </div>
          <div class="px-4">
            <p class="fsmatthew-normal font-size-11 fab-text-black mb-0">Internal/ External</p>
            <p class="fsmatthew-medium font-size-14 fab-text-black mb-0">Internal</p>
          </div>
          <div class="px-4">
            <p class="fsmatthew-normal font-size-11 fab-text-black mb-0">Overdrawn Amount</p>
            <p class="fsmatthew-medium font-size-14 fab-text-black mb-0 fab_red">21,500.00</p>
          </div>
          <div class="px-4">
            <p class="fsmatthew-normal font-size-11 fab-text-black mb-0">Account Name</p>
            <p class="fsmatthew-medium font-size-14 fab-text-black mb-0">Salary Account</p>
          </div>
          
        </div>
  </div>
  
</div>