.section-heading{
  font-family: fs_matthew_medium;
  font-size: 16px;
  font-weight: 500;
  color: #969995;
}
.chart-title{
  font-family: fs_matthew_medium;
  font-size: 16px;
  color: #323232;
}
.bg-color{
  background-color: #ebeef1;
}