
/* Colors */
$fab-primary: (
    50 : #e0e6f1,
    100 : #b3c1db,
    200 : #8098c3,
    300 : #4d6eab,
    400 : #264f99,
    500 : #003087,
    600 : #002b7f,
    700 : #002474,
    800 : #001e6a,
    900 : #001357,
    A100 : #8998ff,
    A200 : #566bff,
    A400 : #233fff,
    A700 : #0928ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$fab-accent: (
    50 : #eef5ff,
    100 : #d4e6ff,
    200 : #b8d6ff,
    300 : #9cc6ff,
    400 : #86b9ff,
    500 : #71adff,
    600 : #69a6ff,
    700 : #5e9cff,
    800 : #5493ff,
    900 : #4283ff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #eaf1ff,
    A700 : #d0e0ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$fab-warn: (
    50 : #fbe5e4,
    100 : #f4bfbb,
    200 : #ed948e,
    300 : #e56960,
    400 : #e0493e,
    500 : #da291c,
    600 : #d62419,
    700 : #d01f14,
    800 : #cb1911,
    900 : #c20f09,
    A100 : #ffeded,
    A200 : #ffbbba,
    A400 : #ff8987,
    A700 : #ff706e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$fab-secondary: (
    50 : #fdfdfd,
    100 : #fbfbfb,
    200 : #f9f9f9,
    300 : #f6f6f6,
    400 : #f4f4f4,
    500 : #f2f2f2,
    600 : #f0f0f0,
    700 : #eeeeee,
    800 : #ececec,
    900 : #e8e8e8,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$fab-inactive: (
    50 : #f4f5f7,
    100 : #e3e6eb,
    200 : #d0d6dd,
    300 : #bdc6cf,
    400 : #afb9c5,
    500 : #a1adbb,
    600 : #99a6b5,
    700 : #8f9cac,
    800 : #8593a4,
    900 : #748396,
    A100 : #ffffff,
    A200 : #e4f0fe,
    A400 : #b1d4ff,
    A700 : #97c5ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
