<div mat-dialog-content class="letter-of-credit-modal fsmatthew-normal">
  <button [mat-dialog-close]="true" class="close-dialog" >
    <img _ngcontent-nha-c28="" src="assets/icons/close_gray_icon.svg"></button>    
  <div class="success-icon">
    <img src="assets/icons/success_icon.svg" alt="">
  </div>
  <div class="dialog-content">
    <div>
      Letter of Credit with <span class="dialog-content-bold">ID: {{data}}</span> has
    </div>
    <div>
      been successfully submitted on <span class="dialog-content-bold">{{currDate | date: 'MMM d, y'}} </span>
    </div>
    <div>
      and sent to bank for review
    </div>
    <div class="d-flex justify-content-center mt-4">
      <div class="mx-4">
        <img src="assets/icons/print.svg" alt="" class="mr-2">
        <span>Print</span>
      </div>
      <div class="mx-4">
        <img src="assets/icons/mailbox.svg" alt="" class="mr-2">
        <span>Email</span>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-4">
        <mat-dialog-actions>
            <button mat-raised-button color="primary"
             [mat-dialog-close]="true" class="custom_btn create_btn" (click)="redirectToLanding()">Done</button>
          </mat-dialog-actions>
    </div>
  </div>

</div>
